# Configuration Apache pour la réécriture d'URL

RewriteEngine On

# Redirection vers index.php si le fichier ou dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
